################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ML-Session-Manager-Service/FileContentIndex/245c6200-948a-434a-9bea-6e8a84e8e404.vsidx
/.vs/ML-Session-Manager-Service/FileContentIndex
/.vs/ML-User-Interface/FileContentIndex
